<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a href="/">
      <img alt="trackexpenses" class="logo-picture" src="../../images/logo.png">
      <p>Track Expenses</p>
    </a>
    <ul>
      <li><a href="#intro">About</a></li>
      <li><a href="#portifolio">Portifolio</a></li>
      <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
</nav>
